@import './var';

//Общие стили
body {
    width: 1920px;
    background-color: $background-color;
}

ul {
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $dark-grey-color;
}

//Шапка сайта
.header {
    display: flex;
    margin-right: 275px;
    margin-left: 275px;
}
    

.nav {
    display: flex;
}

.phone {
    color: $black-color;
}

//Основной контент
main {
    margin-top: 10px;
}

.dealer {
    position: relative;
    width: 1920px;
    height: 800px;
    background-image: url('../img/dealer.jpg');
}

.neva {
    border: 2px solid $background-color;
    position: absolute;
    margin-top: 60px;
    margin-right: 335px;
    margin-left: 335px;
    margin-bottom: 60px;
    width: 1250px;
    height: 680px;

    &__img {
        margin-left: -51px;
        margin-top: 29px;
        position: absolute;
        border-style: none;
    }

    &__title {
        color: $background-color;
        margin-top: 29px;
        margin-left: 73px;
    }

    &__text {
        color: $background-color;
        width: 463px;
        margin-left: 73px;
    }
}

//Услуги
.wrapper {
    margin-left: 270px;
    display: flex;
    gap: 19px;
    margin-top: 60px;
    width: 1370px;
    height: 230px;
}
.options {
    width: 212px;
    height: 230px;
    border-radius: 10px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        margin-left: 16px;
        margin-top: 16px;
    }
}





//Блок "О компании"
.wrapper-about {
    display: flex;
    margin-left: 270px;
    gap: 20px;
}

.about {
    &__title {
        text-align: center;
        color: $black-color;
}
}

.year {
    width: 443px;
    height: 161px;


    &__title {
        color: $dark-blue-color;
    }

    &__text {
        color: $black-text-color;
    }
}

.info-wrapper {
    margin-left: 270px;
    gap: 20px;
    display: flex;
    align-items: flex-end;
    width: 1370px;
}

.center-photo {
    margin-top: 32px;
}

.info {
    &__text {
        color: $black-text-color;
    }
}