//Основные цвета:

$background-color: #FFF;
$white-color: #F9F9F9;
$dark-grey-color: #3F3F3F;
$black-color: #0D0E0F;
$dark-blue-color: #0032A0;
$black-text-color: #000;
$border-bottom-color: #BCBCBC;
$border-bottom-form: #EEE;
$osago-color: #FAFAFA;

//для формы поиска:
$input-color:#e8e8e8;
$input-background: #535353;

//текст footer 
$footer-text:rgba(41,37,39,0.57);
